In [58]:
import pandas as pd
import numpy as np
import urllib.request
import os.path
import zipfile
import plotly.express as px

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "babynamesbystate.zip"
if not os.path.exists(local_filename): # if the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

ca_name = 'CA.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames.head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

In [59]:
babynames_first_10_rows = babynames.loc[:9, :]

# Notice how we have exactly 10 elements in our boolean array argument
babynames_first_10_rows[[True, False, True, False, True, False, True, False, True, False]]

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
2    CA   F  1910   Dorothy    220
4    CA   F  1910   Frances    134
6    CA   F  1910    Evelyn    126
8    CA   F  1910  Virginia    101

In [60]:
babynames_first_10_rows.loc[[True, False, True, False, True, False, True, False, True, False], :]

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
2    CA   F  1910   Dorothy    220
4    CA   F  1910   Frances    134
6    CA   F  1910    Evelyn    126
8    CA   F  1910  Virginia    101

In [61]:
# First, use a logical condition to generate a boolean array
logical_operator = (babynames["Sex"] == "F")

# Then, use this boolean array to filter the DataFrame
babynames[logical_operator].head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

In [62]:
print("There are a total of {} values in 'logical_operator'".format(len(logical_operator)))

There are a total of 400762 values in 'logical_operator'

In [63]:
babynames.loc[babynames["Sex"] == "F"].head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

In [64]:
babynames[(babynames["Sex"] == "F") & (babynames["Year"] < 2000) & (babynames["State"] == "CA")].head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

In [65]:
(
    babynames[(babynames["Name"] == "Jordan") | 
              (babynames["Name"] == "Carl") |
              (babynames["Name"] == "Alex") |
              (babynames["Name"] == "Sarah")]
).head()

     State Sex  Year   Name  Count
56      CA   F  1910  Sarah     29
368     CA   F  1911  Sarah     12
575     CA   F  1912  Sarah     29
887     CA   F  1913  Sarah     32
1211    CA   F  1914  Sarah     37

In [66]:
names = ["Bella", "Alex", "Ani", "Lisa"]
babynames[babynames["Name"].isin(names)].head()

      State Sex  Year   Name  Count
6289     CA   F  1923  Bella      5
7512     CA   F  1925  Bella      8
12368    CA   F  1932   Lisa      5
14741    CA   F  1936   Lisa      8
17084    CA   F  1939   Lisa      5

In [67]:
babynames[babynames["Name"].str.startswith("Jo")].head()

    State Sex  Year       Name  Count
16     CA   F  1910  Josephine     66
179    CA   F  1910      Joyce      7
195    CA   F  1910       Joan      6
254    CA   F  1911  Josephine     70
466    CA   F  1911       Joan      5

In [68]:
bella_counts = babynames[babynames["Name"] == "Bella"]["Count"]
bella_counts.head()

6289     5
7512     8
35477    5
54487    7
58451    6
Name: Count, dtype: int64

In [69]:
# Average number of babies named Bella each year
np.mean(bella_counts)

270.1860465116279

In [70]:
# Max number of babies named Bella born on a given year
max(bella_counts)

902

In [71]:
x, y = babynames.shape

print(x,y, x*y)

400762 5 2003810

In [72]:
x * y == babynames.size

True

In [73]:
babynames.describe()

                Year          Count
count  400762.000000  400762.000000
mean     1985.131287      79.953781
std        26.821004     295.414618
min      1910.000000       5.000000
25%      1968.000000       7.000000
50%      1991.000000      13.000000
75%      2007.000000      38.000000
max      2021.000000    8262.000000

In [74]:
babynames["Sex"].describe()

count     400762
unique         2
top            F
freq      235791
Name: Sex, dtype: object

In [75]:
babynames.sample()

      State Sex  Year    Name  Count
79335    CA   F  1978  Evette     15

In [76]:
babynames[babynames["Year"] == 2000].sample(4, replace = True).iloc[:, 2:]

        Year    Name  Count
150853  2000  Indira     12
149856  2000  Astrid     40
339177  2000  Santos     54
339463  2000    Jean     25

In [77]:
babynames["Name"].value_counts().head()

Name
Jean         221
Francis      219
Guadalupe    216
Jessie       215
Marion       213
Name: count, dtype: int64

In [78]:
len(babynames["Name"].unique())

20239

In [79]:
babynames.sort_values(by = "Count", ascending=False).head()

       State Sex  Year     Name  Count
263272    CA   M  1956  Michael   8262
264297    CA   M  1957  Michael   8250
313644    CA   M  1990  Michael   8247
278109    CA   M  1969  Michael   8244
279405    CA   M  1970  Michael   8197

In [80]:
babynames["Name"].sort_values(ascending=True).unique()[:5]

array(['Aadan', 'Aadarsh', 'Aaden', 'Aadhav', 'Aadhira'], dtype=object)

In [81]:
# Sort names by count in year 2021
babynames[babynames["Year"] == 2021].sort_values("Count", ascending=False).head()

       State Sex  Year    Name  Count
397909    CA   M  2021    Noah   2591
397910    CA   M  2021    Liam   2469
232145    CA   F  2021  Olivia   2395
232146    CA   F  2021    Emma   2171
397911    CA   M  2021   Mateo   2108

In [82]:
# Here, a lambda function is applied to find the length of each value, `x`, in the "Name" column
babynames.sort_values("Name", key=lambda x: x.str.len(), ascending=False).tail(5)

       State Sex  Year Name  Count
240418    CA   M  1922   Ed      9
115159    CA   F  1990   Vy      8
85666     CA   F  1980   Ly      5
343262    CA   M  2001   Jr      6
385218    CA   M  2016   An     10

In [83]:
# Add a column named "name_lengths" that includes the length of each name
babynames["name_lengths"] = babynames["Name"].str.len()
babynames.head(5)

  State Sex  Year      Name  Count  name_lengths
0    CA   F  1910      Mary    295             4
1    CA   F  1910     Helen    239             5
2    CA   F  1910   Dorothy    220             7
3    CA   F  1910  Margaret    163             8
4    CA   F  1910   Frances    134             7

In [84]:
babynames["name_lengths"].mean()

5.96254884445132

In [85]:
# First, define a function to count the number of times "dr" or "ea" appear in each name
def aa_count(string):
    return string.count("aa")

# Then, use `map` to apply `dr_ea_count` to each name in the "Name" column
babynames["aa_count"] = babynames["Name"].map(aa_count)

# Sort the DataFrame by the new "dr_ea_count" column so we can see our handiwork
babynames.sort_values(by = "aa_count", ascending = False).head(5)

       State Sex  Year   Name  Count  name_lengths  aa_count
350092    CA   M  2004  Izaac     15             5         1
372386    CA   M  2012  Ayaan     59             5         1
340032    CA   M  2000  Shaan     11             5         1
253284    CA   M  1944  Isaac     18             5         1
390341    CA   M  2018  Shaan     24             5         1

In [86]:
# Drop our "dr_ea_count" and "length" columns from the DataFrame
babynames = babynames.drop([ "name_lengths","aa_count"], axis="columns")
babynames.head(5)

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

In [87]:
babynames.groupby("Year").agg(sum).head(5)

,State,Sex,Name,Count
Year,,,,
1910,CACACACACACACACACACACACACACACACACACACACACACACA...,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,MaryHelenDorothyMargaretFrancesRuthEvelynAlice...,9163
1911,CACACACACACACACACACACACACACACACACACACACACACACA...,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,MaryDorothyHelenMargaretRuthFrancesAliceEvelyn...,9983
1912,CACACACACACACACACACACACACACACACACACACACACACACA...,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,MaryDorothyHelenMargaretRuthFrancesAliceVirgin...,17946
1913,CACACACACACACACACACACACACACACACACACACACACACACA...,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,MaryDorothyHelenMargaretRuthFrancesVirginiaEli...,22094
1914,CACACACACACACACACACACACACACACACACACACACACACACA...,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,MaryDorothyHelenMargaretRuthFrancesEvelynVirgi...,26926

In [88]:
# Same result, but now we explicitly tell Pandas to only consider the "Count" column when summing
babynames.groupby("Year")[["Count"]].agg(sum).head(5)

      Count
Year
1910   9163
1911   9983
1912  17946
1913  22094
1914  26926

In [95]:
def ratio_to_peak(series):
    return series.iloc[-1] / max(series)

female_babynames = babynames[babynames["Sex"] == "F"].iloc[:, 2:]

rtp_table = female_babynames.groupby("Name").agg(ratio_to_peak)

female_babynames.head()

   Year      Name  Count
0  1910      Mary    295
1  1910     Helen    239
2  1910   Dorothy    220
3  1910  Margaret    163
4  1910   Frances    134

In [97]:
rtp_table = female_babynames.groupby("Name")[["Count"]].agg(ratio_to_peak)
rtp_table = rtp_table.rename(columns = {"Count": "Count RTP"})
rtp_table.sort_values("Count RTP").head()

        Count RTP
Name
Debra    0.001260
Susan    0.002034
Debbie   0.002817
Cheryl   0.003273
Carol    0.003635

In [98]:
px.line(female_babynames[female_babynames["Name"] == "Debra"], x = "Year", y = "Count")

In [100]:
top10 = rtp_table.sort_values("Count RTP").head(10).index

px.line(female_babynames[female_babynames["Name"].isin(top10)], x = "Year", y = "Count", color = "Name")

In [102]:
babynames.groupby("Name")[["Count"]].agg(sum).sort_values("Count")

          Count
Name
Zyrus         5
Bayli         5
Rawley        5
Ravleen       5
Bearett       5
...         ...
James    285216
John     316124
Robert   353096
David    376630
Michael  434650

[20239 rows x 1 columns]

In [104]:
babynames.groupby("Year")[["Count"]].sum().sort_values("Count")

       Count
Year
1910    9163
1911    9983
1912   17946
1913   22094
1914   26926
...      ...
1989  512609
1993  524964
1992  541015
1991  549308
1990  552613

[112 rows x 1 columns]

In [105]:
puzzle2 = female_babynames.groupby("Year")[["Count"]].agg(sum)
px.line(puzzle2, y = "Count")